li.completed {
  text-decoration: line-through;
}

div.delTodo {
  display: none;
  float: right;
  cursor: pointer;
  a:hover {
    background-color: transparent;
    color: black;
  }
}

.topics li:hover {
  div.delTodo {
    display: block;
  }
}
